.info-upload span{
	display: block;
	font-style: italic;
	font-size: 80%;
}

.section-session-left{
	background-color: #FEB905;
}

.section-session-right{
	background-color: #38B3E4;
	padding: 6%;

}

.section-session-right p + div{

	margin-bottom: 15px;
}

@media screen and (min-width: 768px){


}

@media screen and (min-width: 992px){

	.section-session-right{
		background-color: #38B3E4;
		padding: 10%;

	}
}

.database-row{

	background-color: #FEB905;
	padding: 15px 0;
	margin-bottom: 15px;
	overflow: hidden;
}

.database-row p{

	float: left;
}

.database-row form{

	float: right;
}
