/*****************Flipping images****************/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container img{

	max-width: 100%;
}

.flip-container,
.front,
.back {
	margin: auto;
	width: 290px;
	height: 344px;
}

/* flip speed goes here */
.flipper {
	color:black;
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}
.flipper a{
	color:black;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	overflow: hidden;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.front h1{
	color: #fff;
	text-align: center;
	margin-top: -55px;
	z-index: 5;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	padding-top: 50px;
	text-align: center;
	background-color: #E9E5DD
}
/*****************End Flipping images****************/

.titleRegister h1{
	color: #38B3E4;
}

.login-optional{
	text-align: center;
	margin-top: 25px;
}
.login-optional a {
	color: #FEB905;
}
.login-optional a:first-of-type {
	color: #38B3E4;
	margin-right: 15px;
}
.login-optional a:hover{
	color: #fff;
}

.photoAbout span{
	color: #FEB905;
}
.fileUpload{
	opacity: 1;
}
.upload{
	text-align: center;
	font-size: 18px;
}

.form-mandatory-msg{

	margin-top: 15px;
}