.icon-bar{
	background-color: #fff;
}

[class^="home-"] [class^="col-"]{

	padding: 0;
}

.home-header{
	background-color: #202020;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left bottom,
		color-stop(0.42, #202020),
		color-stop(0.72, #000000)
	);
	background-image: -o-linear-gradient(left bottom, #202020 42%, #000000 72%);
	background-image: -moz-linear-gradient(left bottom, #202020 42%, #000000 72%);
	background-image: -webkit-linear-gradient(left bottom, #202020 42%, #000000 72%);
	background-image: -ms-linear-gradient(left bottom, #202020 42%, #000000 72%);
	background-image: linear-gradient(to left bottom, #202020 42%, #000000 72%);
}

	@media screen and (min-width: 768px){

		header{
			padding-top: 40px;
		}
	}
	@media screen and (min-width: 992px){

		header{
			padding-top: 55px;
		}
	}

	@media screen and (min-width: 1200px){

		header{
			padding-top: 75px;
		}
	}

.home-hero{
	position: relative;
}

	@media screen and (min-width: 768px){
		.home-hero{
			padding-top: 40px;
		}
	}

	@media screen and (min-width: 992px){
		.home-hero{
			padding-top: 60px;
		}
	}

	.home-hero-bottom{
		padding-bottom: 200px;
	}

.home-heading{

	color: #fff;
	text-align: center;
}

.heading-separator{

	display: block;
	color: #38B3E4;
}

.home-heading span + span{

	color: #FEB905;
}

@media screen and (min-width: 768px){
	.home-heading{
		font-size: 30px;
		text-align: left;
	}
}

@media screen and (min-width: 992px){
	.home-heading{
		font-size: 35px;
	}
}

@media screen and (min-width: 1200px){
	.home-heading{
		font-size: 42px;
	}
}

.intro-text{
	color: #fff;
	margin: 0;
	padding: 20px;
	position: relative;
	overflow: hidden;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 17px;
	max-width: 300px;
	margin: auto;
}

.intro-text p{

	position: relative;
	z-index: 1;

}

@media screen and (min-width: 480px){
	.intro-text{
		padding: 55px;
		font-size: 19px;
		max-width: 420px;
	}
}

@media screen and (min-width: 768px){
	.intro-text{
		padding: 55px;
		font-size: 19px;
		top: 50px;
		max-width: 100%;
	}
}

@media screen and (min-width: 992px){
	.intro-text{
		padding: 70px;
		font-size: 21px;
	}
}

@media screen and (min-width: 1200px){
	.intro-text{
		padding: 80px;
		font-size: 23px;
	}
}

.intro-text-top{

	background-color: #38B3E4;
}

.intro-text-top:after{

	content:"";
	position: absolute;
	z-index: 0;
	top: 0;
	right: -220px;
	width: 500px;
	height: 500px;
	background-color: #0F81B2;
	opacity: 0.2;
	transform: rotate(45deg);
	transition: all 0.3s ease-out;
}

.intro-link-wrap{
	position: relative;
	display: block;
	background-color: #FEB905;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 27px;
	width: 100%;
}

@media screen and (min-width: 768px){
	.intro-link-wrap{
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 0;
		left: 50%;
		left: calc(50% - 20px);
		height: 190px;
		margin-bottom: -95px;
		width: auto;
	}
}

@media screen and (min-width: 992px){
	.intro-link-wrap{
		position: absolute;
		bottom: 0;
		right: 0;
		left: 50%;
		left: calc(50% - 20px);
		height: 300px;
		margin-bottom: -150px;
		font-size: 45px;
	}
}

.intro-link-wrap:after{

	content:"";
	position: absolute;
	z-index: 0;
	top: 0;
	left: -220px;
	width: 500px;
	height: 500px;
	background-color: #DE9B0A;
	opacity: 0.3;
	transform: rotate(45deg);
	transition: all 0.3s ease-out;
}

.intro-link-wrap:hover:after{

	transform : translate(100px,-50px);
}

.intro-link{

	position: relative;
	z-index: 1;
	display: block;
	padding: 35px;
	width: 100%;
	height: 100%;
}

.intro-link span{

	display: block;
	margin-bottom: 15px;
	font-size: 15px;
	text-transform: lowercase;
}

.intro-link img{

	width: 40px;
	transition: all 0.3s linear;
}

.intro-link:hover img{

	transform: translateX(100%);
}

@media screen and (min-width: 992px){
	.intro-link img{
		position: absolute;
		bottom: 50px;
		left: 35px;
	}
}

.intro-text-bottom{
	background-color: #202020;
}

.home-hero-bottom{
	background-color: #38B3E4;
}

.intro-text-bottom:after{

	content:"";
	position: absolute;
	z-index: 0;
	top: 0;
	left: -220px;
	width: 500px;
	height: 500px;
	background-color: #000;
	opacity: 0.2;
	transform: rotate(45deg);
	transition: all 0.3s ease-out;
}

/* styles formulaires */

/* COULEURS */

.custom-form-blue{

	background-color: #38B3E4;
}

	.custom-form-blue input{

		background-color: #30A9DA;
	}

	.custom-form-blue input:focus{

		border-color: #FEB905;
	}

.custom-form-gold{

	background-color: #FEB905;
}
	.custom-form-gold input{

		background-color: #F4B006;
	}

	.custom-form-gold input:focus{

		border-color: #30A9DA;
	}

.custom-button-blue{

	background-color: #38B3E4;
}

.custom-button-gold{

	background-color: #FEB905;
}

/* appliquer au formulaire SEULEMENT*/
.details-list,
.custom-form{

	padding: 6%;
	position: relative;
}

@media screen and (min-width : 992px){
	
	.details-list,
	.custom-form{

		padding: 10%;
	}
}

.custom-inline-form{

	display: inline-block;
	vertical-align: middle;
}

/* styles de base du formulaire */
 .custom-button,
 .custom-form button{

	display: inline-block;
	vertical-align: middle;
	padding: 10px 16px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	margin-bottom: 3px;
}

@media screen and (min-width : 768px){
	.custom-button,
	.custom-form button{

		display: inline-block;
		vertical-align: middle;
		padding: 12px 18px;
		text-transform: uppercase;
		color: #fff;
		border: 0;
	}
}

@media screen and (min-width : 768px){
	.custom-button,
	.custom-form button{

		display: inline-block;
		vertical-align: middle;
		padding: 15px 22px;
		text-transform: uppercase;
		color: #fff;
		border: 0;
	}
}

/* styles pour les labels du formulaire */

.category-form + .category-form{

	padding-top: 0;

}

.custom-form-group label{

	margin-bottom: 10px;
	text-transform: uppercase;
}

/* styles pour les champs du formulaire */

.custom-form-group input{

	padding: 10px;
	border: none;
	border-bottom: 3px solid;
	margin-bottom: 20px;
}

@media screen and (min-width : 768px){
	.custom-form-group input{
		padding: 15px;
	}
}

input::-webkit-input-placeholder {
color: #fff !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;
}

input:-ms-input-placeholder {
color: #fff !important;
}

/*[hidden]{

	display: none !important;
}*/

select{

	padding: 10px;
	width: 100%;
	min-width: 100px;
	max-width: 100%;
	border: 0px solid #38B3E4;
	background-color: #E9E5DD;
	color: #000;
	margin-bottom: 10px;
 //-webkit-appearance:none;
}

select + button{

	margin-top: 0;
}

@media screen and (min-width : 768px){
	select{
		padding: 15px;
		margin-bottom: 15px;
	}
}

option{

	//padding: 15px;
	border-bottom: 3px solid #38B3E4;
}

form .form-send-button{

	margin-top: 15px;
}

/* styles pour le bouton d'envoi d'un formulaire à partir du mode tablette */

@media screen and (min-width : 1200px){
	form .form-send-button{
	    position: absolute;
	    padding: 25px 30px;
	    top: 85%;
	    left: -15px;
	    margin-top: 0;
	}
}

/*  invites  */

.make-space{

	margin-top: 20px;
}

@media screen and (min-width : 1200px){
	.make-space{

		margin-top: 80px;
	}
}


/*  quizzzzzzzz  */

.quiz{

	background-color: #FEB905;
	padding: 5%;
	margin: 10px 0;
	display: block;
}

.quiz .custom-button{

	background-color: #38B3E4;
}

div[class^="col-"]:nth-of-type(even) .quiz{

	background-color: #38B3E4;
}

div[class^="col-"]:nth-of-type(even) .quiz .custom-button{

	background-color: #FEB905;
}

.quiz > :first-child{

	border-bottom: 2px solid #fff;
	overflow: hidden;
	padding-bottom: 15px
}

.quiz-content{

	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	border-bottom: 2px solid #fff;
}



