* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
 	 font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {

	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: #202020;
}

@media screen and (min-width: 768px){
	body{
		font-size: 15px;
	}
}

@media screen and (min-width: 992px){
	body{
		font-size: 16px;
	}
}

@media screen and (min-width: 1200px){
	body{
		font-size: 17px;
	}
}

/* Styles Titres */

.h1{

	color: #38B3E4;
}
h1,
.h1,
h2,
.h2,
h3,
.h3{
}

.h1 + p,
.h2 + p,
.h3 + p{

	margin-bottom: 35px
}

@media screen and (min-width: 768px){
	.h1{
		font-size: 30px;
		margin: 25px 0 10px 0;
	}
}

@media screen and (min-width: 992px){
	.h1{
		font-size: 35px;
		margin: 40px 0 15px 0;
	}
}

@media screen and (min-width: 1200px){
	.h1{
		font-size: 42px;
		margin: 50px 0 20px 0;
	}
}

@media screen and (min-width: 768px){
	h2{
		font-size: 22px;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 992px){
	h2{
		font-size: 27px;
		margin-bottom: 15px;
	}
}

@media screen and (min-width: 1200px){
	h2{
		font-size: 32px;
		margin-bottom: 20px;
	}
}

/* Styles notifications */

.error-message,
.success-message{

	padding: 12px;
	margin: 10px;
	color: #fff;
	font-family: sans-serif;
	position: relative;
}

.error-message{

	background-color: #e53935;
}

.success-message{

	background-color: #43A047;
}

.close{

	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

/* styles generaux pour la navigation */

header [class^="col-"]{

	padding: 0;
}

.navbar-bg{
	background-color: #202020;
	padding: 17px 0;
}

.navbar-collapse{

	position: relative;
}

nav.navbar{

	margin: 0;
	padding: 15px 0;
}


.navbar a{

	text-transform: uppercase;
	position: relative;
	z-index: 5;
}

.navbar .nav .open > a:focus,
.navbar .nav .open > a:active{

	background-color: transparent;
}

.navbar-nav .open .dropdown-menu > li > a{

	color: #fff;
}

/*.navbar-nav .open .dropdown-menu > li > a:hover{

}*/
.navbar a span{

	position: relative;
	z-index: 1;
}

@media screen and (min-width: 768px){
	.nav > li a:after{
		content:"";
		position: absolute;
		bottom: 0%;
		width: 100%;
		left: 0;
		height: 0%;
		background-color: #FEB905;
		transition: height 0.15s linear;
	}

	.nav > li a:hover:after{

		height: 100%;
	}
}

header .navbar > .container .navbar-brand{

	height: auto;
	border: 4px solid #FEB905;
	margin-left: 10px;
}

header .navbar > .container .navbar-brand:hover span:first-child{

	color:  #FEB905;
}

header .navbar > .container .navbar-brand span + span{

	color:  #38B3E4;
	text-transform: lowercase;
}

@media screen and (min-width: 768px){
	header .navbar > .container .navbar-brand{

		margin-left: 0px;
		font-size: 18px;
		background-color: #202020;
		color: #fff;
	}
}

@media screen and (min-width: 992px){
	header .navbar > .container .navbar-brand{
		font-size: 23px;
	}
}

.nav > li > .profile-img svg{

	display: none;
}

.description{

	display: none;
}

@media screen and (min-width: 768px){

.nav  .menu-item-dropdown{

	position: static;
}

.navbar .nav-sub-menu{

	width: 100%;
	background-color: transparent;
	box-shadow: none;
	border: none;
	top: 115%;
}

.nav-sub-menu li{

	width: 25%;
}

.user-dropdown li{

	float: right;
}

.dropdown-menu.nav-sub-menu li a{

	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: #FEB905;
	color: #fff;
	position: relative;
	overflow: hidden;
}

	.description{
		display: block;
		font-size: 90%;
		text-transform: lowercase;
	}

.dropdown-menu.nav-sub-menu li a:after{

	content:"";
	position: absolute;
	z-index: 0;
	top: 0;
	left: -220px;
	width: 500px;
	height: 500px;
	background-color: rgba(0,0,0,0.2);
	opacity: 0.3;
	transform: rotate(45deg);
	transition: all 0.3s ease-out;
}

.nav-sub-menu li:nth-of-type(odd) a{

	background-color: #38B3E4;
}
	.nav > li > .profile-img svg{

		display: block;
	}

	.nav > li > .profile-img{
		display: block;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		overflow: hidden;
		padding: 0;
		border: 4px solid #FEB905;
		margin-left: 10px;
	}

	.profile-text{

		display: none;
	}
}
.nav > li .profile-img:after{

	content: none;
}

.profile-img svg{

	width: 100%;
	height: 120%;
	fill: #38B3E4;
}

/* bouton de retour à la page précédente*/


.button-back{

	margin-top: 35px;
}

.footer{
	background-color: #202020;
	padding: 55px 0;
	color: #fff;
	text-align: center;
	line-height: 1.7;
}

.footer a {

	color: #FEB905;
}

.footer a + a {

	color: #38B3E4;
	text-transform: uppercase;
}
